# List

## append vs extend

In [9]:

numbers = [14,786,7]
print(numbers)
numbers.append( 500 )
print(numbers)
print( numbers.append( 999 ) )
print(numbers)
numbers.append( [100, 100] )
print(numbers)
print(numbers[-1])

print('extend')
numbers.extend( [500] )
print(numbers)
numbers.extend( [999,888,777] )
print(numbers)

[14, 786, 7]
[14, 786, 7, 500]
None
[14, 786, 7, 500, 999]
[14, 786, 7, 500, 999, [100, 100]]
[100, 100]
extend
[14, 786, 7, 500, 999, [100, 100], 500]
[14, 786, 7, 500, 999, [100, 100], 500, 999, 888, 777]

In [12]:
print (numbers.index(888) )
print (numbers[8] )

8
888

In [13]:
print (numbers.index(666) )

ValueError: 666 is not in list

In [14]:
numbers.insert(1, 1000)
print(numbers)

[14, 1000, 786, 7, 500, 999, [100, 100], 500, 999, 888, 777]

In [16]:
numbers.remove([100, 100])

In [19]:
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)
print(numbers)

[7, 14, 500, 500, 777, 786, 888, 999, 999, 1000]
[1000, 999, 999, 888, 786, 777, 500, 500, 14, 7]
[1000, 999, 999, 888, 786, 777, 500, 500, 14, 7]

In [21]:
nums = [ 562,4,778,2]
print (sorted(nums) )
print(nums)

[2, 4, 562, 778]
[562, 4, 778, 2]

In [31]:
# print '65' from this list
nested_list = [654, [[[48, [['65']]], 57]]]
print(nested_list)
print(len(nested_list))
print(nested_list[1] )
print(len(nested_list[1]))
print(nested_list[1][0] )
print(len(nested_list[1][0]) )
print(nested_list[1][0][0] )
print(nested_list[1][0][0][1] )
print(nested_list[1][0][0][1][0][0] )

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
1
[[48, [['65']]], 57]
2
[48, [['65']]]
[['65']]
65

In [36]:
print(numbers)
print(numbers[::2])
print(numbers[::3])
print(numbers[::4])

[1000, 999, 999, 888, 786, 777, 500, 500, 14, 7]
[1000, 999, 786, 500, 14]
[1000, 888, 500, 7]
[1000, 786, 14]

In [37]:
numbers

[1000, 999, 999, 888, 786, 777, 500, 500, 14, 7]

In [38]:
14 in numbers

True

In [40]:
print (bool( [] ) ) # empty will be False, otherwise True
print (bool( ['a'] ) )

False
True

## operators with list

In [41]:
print( [1,2,3] + ['a','b', 'c'] )

[1, 2, 3, 'a', 'b', 'c']

In [42]:
print( [1,2,3] * 10)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
print( [1,2,3] - [1,2] )

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [45]:
my_list = [ 1,2,3 ]
print( len(my_list) )
my_list.append( 4 )
print(my_list)

3
[1, 2, 3, 4]

In [46]:
5 in my_list

False

In [51]:
combined = [ 456,1,1,8] + [411,33,274]
print(combined)
combined.pop()
print(combined)
combined.sort()
print(combined)
print(combined.count(1) )

[456, 1, 1, 8, 411, 33, 274]
[456, 1, 1, 8, 411, 33]
[1, 1, 8, 33, 411, 456]
2

## mutable and immutable variables
https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747

In [55]:
# immutable variable:
a = 1
b = a
print('before')
print(id(a) )
print(id(b) )
b += 5
print('after')
print(id(a) )
print(id(b) )
print(a)
print(b)

before
2460234416368
2460234416368
after
2460234416368
2460234416528
1
6

In [56]:
# mutable variable:
a = [1,2,3]
b = a
print('before')
print(id(a) )
print(id(b) )
b.append( 999 )
print('after')
print(id(a) )
print(id(b) )
print(a)
print(b)

before
2460345774848
2460345774848
after
2460345774848
2460345774848
[1, 2, 3, 999]
[1, 2, 3, 999]

In [57]:
# fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print('before')
print(id(a) )
print(id(b) )
b.append( 999 )
print('after')
print(id(a) )
print(id(b) )
print(a)
print(b)

before
2460345771456
2460345778304
after
2460345771456
2460345778304
[1, 2, 3]
[1, 2, 3, 999]

In [60]:
# where fix #1 doesn't work
a = [1,2, ['a', 'b'] ]
b = a.copy()
print('before')
print(id(a) )
print(id(b) )
b[-1].append( 999 )
b.append( 999 )
print('after')
print(id(a) )
print(id(b) )
print(a)
print(b)

before
2460346292992
2460346292416
after
2460346292992
2460346292416
[1, 2, ['a', 'b', 999]]
[1, 2, ['a', 'b', 999], 999]

In [61]:
# fixing mutable variable #2
import copy
a = [1,2, ['a', 'b'] ]
b = copy.deepcopy(a)
print('before')
print(id(a) )
print(id(b) )
b[-1].append( 999 )
b.append( 999 )
print('after')
print(id(a) )
print(id(b) )
print(a)
print(b)

before
2460346292160
2460346292032
after
2460346292160
2460346292032
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 999], 999]

# Tuple

In [62]:
my_tuple = ( 1,2, True, 'a')

In [64]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, True, 'a')

In [67]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:3])

1
a
(2, True)

In [70]:
my_list_2 = [1,2]
print (my_list_2)
my_list_2[0] = 100
print (my_list_2)
print('tuple')
print(my_tuple)
my_tuple[0] = 100 # can't overwrite values
print(my_tuple)

[1, 2]
[100, 2]
tuple
(1, 2, True, 'a')

TypeError: 'tuple' object does not support item assignment

In [71]:
my_tuple + (5,55)

(1, 2, True, 'a', 5, 55)

In [73]:
my_tuple * 3

(1, 2, True, 'a', 1, 2, True, 'a', 1, 2, True, 'a')

In [78]:
print(my_tuple)
print(my_tuple.count(2) )
print( my_tuple.index('a') )

(1, 2, True, 'a')
1
3

In [80]:
print( len(my_tuple) )
print( 2 in my_tuple )
print( 100 in my_tuple )

4
True
False

In [83]:
print(list( my_tuple ) )
print( tuple( list( my_tuple ) ) )

[1, 2, True, 'a']
(1, 2, True, 'a')

In [87]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])

print(my_tuple[-1][-1][-1])
print(my_tuple[3][1][1])

8
8

In [90]:
tuple1 = (11, [222, 33], 44, 55)

# solution #1
tmp_list = list(tuple1)
print(tmp_list)
tmp_list[1][1] = 22
print(tmp_list)
tuple1 = tuple(tmp_list)
print( tuple1)

[11, [222, 33], 44, 55]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [95]:
tuple1 = (11, [222, 33], 44, 55)
# solution #2
print( id(tuple1[1]) )
tuple1[1][1] = 22

print(tuple1)
print( id(tuple1[1]) )
# tuple1[1] = [222, 22] # error

2460346209408
(11, [222, 22], 44, 55)
2460346209408

In [108]:
combined_tuple = (1,2,3 ) + (8, 5, 5, 5, 10)
print( combined_tuple)
tmp_list = list(combined_tuple)
print(tmp_list)
tmp_list.pop()
print(tmp_list)
combined_tuple = tuple( tmp_list )
print( combined_tuple)
print( sorted( combined_tuple ) )

print( combined_tuple.count(5) )
# option #1 for largest value
print( sorted( combined_tuple )[-1] )
# option #2 for largest value
print( max( combined_tuple ) )

(1, 2, 3, 8, 5, 5, 5, 10)
[1, 2, 3, 8, 5, 5, 5, 10]
[1, 2, 3, 8, 5, 5, 5]
(1, 2, 3, 8, 5, 5, 5)
[1, 2, 3, 5, 5, 5, 8]
3
8
8

# Range

In [114]:
print( range(10) )
print( type( range(10) ) )
print( list(range(10) ) ) # does not include the end number
print( list(range(-4, 10) ) )
print( list(range(-4, 10, 3) ) )

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -1, 2, 5, 8]

# For loop

In [121]:
cities = ['Vilnius', 'Kaunas', 'London', 'Berlin']
print( cities )

# for <member variable name> in <sequence>: 
for city in cities:
    print('beginning of for loop iteration')
    print( city )
    print('end of for loop iteration')

print('end of cell')

['Vilnius', 'Kaunas', 'London', 'Berlin']
beginning of for loop iteration
Vilnius
end of for loop iteration
beginning of for loop iteration
Kaunas
end of for loop iteration
beginning of for loop iteration
London
end of for loop iteration
beginning of for loop iteration
Berlin
end of for loop iteration
end of cell

In [119]:
for x in cities: # try to give meaningful names to variable
    print('hello')
    print( x )

hello
Vilnius
hello
Kaunas
hello
London
hello
Berlin

In [123]:
for city in cities:
    print(f'{city} is a beautiful city!')

Vilnius is a beautiful city!
Kaunas is a beautiful city!
London is a beautiful city!
Berlin is a beautiful city!

In [125]:
for number in range(3,53,4):
    print(f'{number}^2 = {number**2}')

3^2 = 9
7^2 = 49
11^2 = 121
15^2 = 225
19^2 = 361
23^2 = 529
27^2 = 729
31^2 = 961
35^2 = 1225
39^2 = 1521
43^2 = 1849
47^2 = 2209
51^2 = 2601

In [126]:
numbers = [5,4,3,7,5,8,9]
# i or idx 
for i in range( len(numbers) ):
    print( numbers[i] )

5
4
3
7
5
8
9