# String

In [ ]:
name = 'Darius'

In [7]:
print('1972'.isdigit())
print('1972 '.isdigit())
print('  1972  '.strip())
print('  1972  '.strip().isdigit())
print('  19 72  '.strip())
print('  19 72  '.strip().isdigit())

True
False
1972
True
19 72
False

### string operations

In [8]:
'Darius' + ' ' + 'hello'

'Darius hello'

In [9]:
'Darius' - 'i'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [13]:
'hi' / 'i'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### String formating. f-string

In [22]:
name = 'Darius'
surname = 'Grigaliunas'
number = 42

# print( name + ' ' + surname + ', nice to meet you! Your number is ' + number ) # error
print(name + ' ' + surname + ', nice to meet you! Your number is ' +
      str(number))

# f-string
print(f'{name} {surname}')
print(f'{name} {surname}, nice to meet you! Your number is {number}')
print(
    f'{    name } { surname}, nice to meet you! Your number is {     number}')
print(
    f'{    name }    { surname}, nice to meet you! Your number is {     number}'
)
print(f'{name} {surname}, nice to meet you! Your number is {number + 4}')

Darius Grigaliunas, nice to meet you! Your number is 42
Darius Grigaliunas
Darius Grigaliunas, nice to meet you! Your number is 42
Darius Grigaliunas, nice to meet you! Your number is 42
Darius    Grigaliunas, nice to meet you! Your number is 42
Darius Grigaliunas, nice to meet you! Your number is 46

In [24]:
vardas = 'Darius'
pavarde = "Grigaliunas"
print(vardas, pavarde)
print(f'{vardas} {pavarde}')

Darius Grigaliunas
Darius Grigaliunas

In [29]:
text_1 = 'Python makes me really happy! To'
print(text_1.upper())
print(text_1.replace('Python', 'PyThOn'))
print(text_1.replace('t', 'T').replace('o', 'O'))  # not safe

PYTHON MAKES ME REALLY HAPPY! TO
PyThOn makes me really happy! To
PyThOn makes me really happy! TO

In [40]:
text = 'Hello World, I really am happy to learn Python!'
word_to_find = 'happy'

print(text.find(word_to_find))
print(text.index(word_to_find))
print(len(word_to_find))

print(text[text.find(word_to_find):])
print(text[text.find(word_to_find):text.find(word_to_find) +
           len(word_to_find)])
print(text[18:18 + 5])

word_to_find = 'to'
print(text[text.find(word_to_find):text.find(word_to_find) +
           len(word_to_find)])

print(len(text))

25
25
5
happy to learn Python!
happy
lly a
to
47

# Numbers

In [41]:
number_symbol = '1'
int_1 = 1
float_1 = 1.0
float_2 = 1.

print(type(number_symbol))
print(type(int_1))
print(type(float_1))
print(type(float_2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

## operations

In [55]:
print(5 + 10)
print(5 - 10)
print(5 * 10)
print(5 / 10)

print('other operations')
print(f'{2}^{2} = {2 ** 2}')
print(f'{2}^{3} = {2 ** 3}')
print(f'{2}^{4} = {2 ** 4}')
print(f'{6}^{4} = {6 ** 4}')

print('floor division')
print(15 // 10)
print(25 // 10)

print('modulus division')
print(15 % 10)
print(25 % 10)

print(16547869 % 2)
print(16547868 % 2)

print(16547868 % 3)
print(45619687 % 3)

15
-5
50
0.5
other operations
2^2 = 4
2^3 = 8
2^4 = 16
6^4 = 1296
floor division
1
2
modulus division
5
5
1
0
0
1

In [59]:
my_sum = 0

my_sum = my_sum + 5.4
my_sum = my_sum + 3.0
print(my_sum)

my_sum = 0
my_sum += 5.4
my_sum += 1
print(my_sum)

multiplication = 1
multiplication *= 10
multiplication *= 0.5
print(multiplication)

8.4
6.4
5.0

In [60]:
int_1 = 5
int_2 = 10

print(int_1 + int_2)
print(int_1 - int_2)
print(int_1 * int_2)
print(int_1 / int_2)
print(int_1 % int_2)

15
-5
50
0.5
5

In [61]:
float_1 = 5.5
float_2 = 10.54

print(float_1 + float_2)
print(float_1 - float_2)
print(float_1 * float_2)
print(float_1 / float_2)
print(float_1 % float_2)

16.04
-5.039999999999999
57.97
0.5218216318785579
5.5

In [64]:
dist_sun = 150_000_000  # same as dist_sun = 150000000
dist_moon = 384_000

print(f'Distance to the Sun is {dist_sun//dist_moon} greater than to the Moon')

speed = 150  # km/h

day = speed * 24
month = day * 30
year = month * 12

minutes = speed / 60
seconds = minutes / 60

print(dist_moon / speed)
print(dist_moon / day)
print(dist_moon / month)
print(dist_moon / year)
print(dist_moon / minutes)
print(dist_moon / seconds)

Distance to the Sun is 390 greater than to the Moon
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [65]:
(2023 - 1993) * 365

10950

In [67]:
from datetime import date

d0 = date(1993, 5, 23)
d1 = date.today()
print(d0)
print(d1)
delta = d1 - d0
print(delta.days)

1993-05-23
2023-02-23
10868

# Boolean

In [72]:
bool_true = True
print(bool_true)
print(type(bool_true))
bool_false = False
print(bool_false)

print(int(bool_true))
print(int(bool_false))

True
<class 'bool'>
False
1
0

In [77]:
print(bool(1))
print(bool(2))
print(bool(0.0001))
print(bool(-40))
print(bool(0))  # only possible way to get False from number

True
True
True
True
False

In [80]:
print(bool('45'))
print(bool("hello"))
print(bool(' '))
print(bool('0'))
print(bool(''))  # only possible way to get False from string

True
True
True
True
False

In [89]:
print( 2 > 5)
print( 2 < 5)

print ('>=')
print( 2 >= 2)
print( 2 >= 3)

print ('<=')
print( 2 <= 1)
print( 2 <= 2)
print( 2 <= 3)

print ('==')
print( 2 == 1)
print( 2 == 2) # == - comparison, = - assingment
print( 2 == 3)

print ('!=')# not equal
print( 2 != 1)
print( 2 != 2) 
print( 2 != 3)

False
True
>=
True
False
<=
False
True
True
==
False
True
False
!=
True
False
True

## in

In [97]:
text = 'Hello world'
bool_1 = 'd' in text
print (bool_1)
print ('D' in text)
print ('h' in text)
print( text.islower() )
print( text.lower().islower() )
print ('h' in text.lower() )

True
False
False
False
True
True

## not

In [101]:
print( not True )
print( not False )
print( not not False )
print( not not not False )

False
True
False
True

## and, or

In [105]:
a = 2
b = 5 
c = -10

print ('and')
print ( a < b and b > c )
print ( a > b and b > c )
print ( a > b and b < c )

print ('or')
print ( a < b or b > c )
print ( a > b or b > c )
print ( a > b or b < c )

and
True
False
False
or
True
True
False

In [106]:
print ( a < b and b > c or 1 > 5)

True

In [107]:
print (10 > 5)
print ('a' in 'auto')
test = bool(1)
print(test)
print(bool('oo'))
print( not False )

True
True
True
True
True

In [108]:
print (10 < 5)
print ('A' in 'auto')
test = bool(0)
print(test)
print(bool(''))
print( not True )

False
False
False
False
False

In [109]:
print(bool(0))
print(bool(''))

False
False

# List

In [112]:
cities = ['Vilnius', 'Kaunas', 'London']

In [118]:
print( cities)
print( type(cities) )
print( cities[0] )
print( type(cities[0]) )

print( cities[1:] )
print( cities[:2] )

['Vilnius', 'Kaunas', 'London']
<class 'list'>
Vilnius
<class 'str'>
['Kaunas', 'London']
['Vilnius', 'Kaunas']

In [122]:
numbers = [ 1,654,7,6987,7,'87', False ] # try to not mix types in same list

print(len(numbers))
print(type(numbers[0]))
print(type(numbers[-1]))
print(type(numbers[-2]))

7
<class 'int'>
<class 'bool'>
<class 'str'>

In [128]:
numbers = [14,786,7]
print(numbers)
numbers.append( 500 )
print(numbers)
print( numbers.append( 999 ) )
print(numbers)
print( numbers.pop() )
print(numbers)

[14, 786, 7]
[14, 786, 7, 500]
None
[14, 786, 7, 500, 999]
999
[14, 786, 7, 500]